<nav>
  <h1>Week Ten</h1>
  <h2>A multi-tiered approach!</h2>
  <a href="/">[home]</a>
  <a href="/about">[about]</a>
  <a href="/beers">[beers]</a>
  <a href="/breweries">[breweries]</a>
  <a href="/categories">[categories]</a>
</nav>
